a {
    text-decoration: none;
    color: #ffffff;
}
body {
    background: #455fd8;
    text-align: center;
    color: #ffffff;
    font-family: 'Ubuntu Mono';
    font-size: 2em;
}
#ident {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.5em;
}

#outer {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
}

#inner {
    width: 600px;
    height: 200px;
    margin-left: -300px;
    position: absolute;
    top: -100px;
    left: 50%;
}
