pre {
    font-family: 'Ubuntu Mono';
    margin: 0;
}

.yui3-skin-sam .yui3-datatable table {
    font-family: Ubuntu;
    border: none;
}

.yui3-skin-sam .yui3-datatable td {
    border-left: none;
    border-right: none;
}

.yui3-skin-sam tr.yui3-datatable-odd td.yui3-datatable-cell,
.yui3-skin-sam tr.yui3-datatable-even td.yui3-datatable-cell {
    background-color: #fff;
    border-bottom: 1px #ddd dotted;
}

.yui3-datatable-col-timestamp {
    text-align: right;
}
/* Pad the package versions table */
td.yui3-datatable-col-version.yui3-datatable-cell,
/* Pad the examples table */
td.yui3-datatable-col-timestamp.yui3-datatable-cell,
td.yui3-datatable-col-occurred.yui3-datatable-cell,
td.yui3-datatable-col-instance.yui3-datatable-cell,
td.yui3-datatable-col-problemtype.yui3-datatable-cell,
td.yui3-datatable-col-program.yui3-datatable-cell
{
    padding: 8px 16px;
}
#crashes_group,
#crashes {
    width: 1px;
    white-space: nowrap;
}
#crashes_group
{
    /* To center the spinner below. */
    display: table;
}
