---
name: CI

on:  # yamllint disable-line rule:truthy
  - push
  - pull_request

env:
  DEBIAN_FRONTEND: noninteractive

# Note: ca-certificates and git are needed for actions/checkout to use git
# which is needed for codecov/codecov-action.

jobs:
  linter:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    container:
      image: ubuntu:plucky
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: apt-get update && apt-get install --no-install-recommends --yes ruff
      - name: Run linter tests
        run: |
          ruff check --preview .

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - ubuntu:noble
          - ubuntu:plucky
    container:
      image: ${{ matrix.container }}
    steps:
      - name: Sanitize container name (for artifact name)
        run: |
          container=$(echo "${{ matrix.container }}" | sed 's/:/-/')
          echo "JOB=${GITHUB_JOB}-${container}" >> "$GITHUB_ENV"
      - name: Install dependencies
        run: >
          apt-get update
          && apt-get install --no-install-recommends --yes
          apport-retrace git python3-amqp python3-cassandra python3-pygit2
          python3-swiftclient ubuntu-dbgsym-keyring
      - name: Run unit and integration tests
        run: >
          python3 -m pytest -ra --cov=$(pwd) --cov-branch --cov-report=xml
          --durations=0 src/test
      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ env.JOB }}
          path: ./coverage*.xml

  woke:
    name: woke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: woke
        uses: get-woke/woke-action@v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true

  # upload-to-codecov:
  #   if: ${{ always() }}
  #   needs:
  #     - tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Download artifacts
  #       uses: actions/download-artifact@v4
  #     - name: Upload coverage to Codecov
  #       uses: codecov/codecov-action@v4
  #       with:
  #         token: ${{ secrets.CODECOV_TOKEN }}
  #         fail_ci_if_error: true
