---
name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  DEBIAN_FRONTEND: noninteractive

# Note: ca-certificates and git are needed for actions/checkout to use git
# which is needed for codecov/codecov-action.

jobs:
  linter:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo snap install ruff
      - name: Run linter tests
        run: |
          ruff check --preview .

  # TODO: reenable that after cleaning everything. Those tests are nowhere
  # near ready to be run again, and will likely just get replaced once bigger
  # refactoring will have occured.
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd
      - name: Install ~~charmcraft~~spread
        run: sudo snap install charmcraft --classic
      - name: Run Error Tracker tests
        run: |
          charmcraft.spread -v
      # spread artifacts need to work to re-enable this
      # - name: Upload coverage
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-${{ env.JOB }}
      #     path: ./coverage.xml

  woke:
    name: woke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: woke
        uses: get-woke/woke-action@b2ec032c4a2c912142b38a6a453ad62017813ed0 # v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true
